<p style="color: green"><%= notice %></p>

<h1>Namantarans</h1>

<div id="namantaran1s">
  <table>
    <tr>
      <th><span style="line-height:115%;font-family:&quot;Kruti Dev 010&quot;;">&nbsp;% IykV@edkua@¶ySV ua-&nbsp;</span></th>
      <th><span style="line-height:115%;font-family:&quot;Kruti Dev 010&quot;;">&nbsp;lfoZl ua-@fiu ua-&nbsp;</span></th>
      <th><span style="font-family:&quot;Kruti Dev 010&quot;;">dk uke vafdr fd;k x;k gSA</span></th>
      <th></th>
    </tr>
    <% @namantarans.each do |namantaran| %>
      <%= render namantaran %>
    <% end %>
  </table>
</div>

<%= link_to "New namantaran", new_namantaran_path %>
